
body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  margin-top: 3rem;
  border-bottom: 1px solid #333;
  color: rgb(67,172,106);
}
ol li {
  margin-left: 1.5rem;
  font-size: 2.2rem;
  color: rgb(67,172,106);
}

label {
  font-size: 2.2rem;
  color: rgb(222,111,104);
}
